body{
    background:#f4f6f9;
}

.card{
    border:none;
    border-radius:15px;
}

.card img{
    height:220px;
    object-fit:cover;
}

.card-footer{
    background:white;
    border:none;
}

.navbar{
    margin-bottom:25px;
}
